[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "consort"]
	path = consort
	url = https://github.com/adayim/consort
[submodule "forestploter"]
	path = forestploter
	url = https://github.com/adayim/forestploter
